@charset 'utf-8';

.hero {
  background: linear-gradient(141deg, palette(mallard) 0%, palette(killarney) 75%);
  height: 100%;

  &__index {
    margin: 0 auto;
    max-width: 700px;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
  }

  &__title {
    color: white(1);
    display: inline-block;
    font-family: 'refrigerator-deluxe', serif;
    font-size: 237.5%;
    letter-spacing: 6px;
    margin: 0;
    text-transform: uppercase;
  }

  &__legend {
    color: palette(gallery);
    font-family: 'FF Kievit';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  a {
    border-bottom: 2px solid currentColor;
    color: currentColor;
    text-decoration: none;
  }
}
