@charset 'utf-8';

$palette: (
  cardinal:         #B91E25,
  cod-gray:         #111,
  fantasy:          #FBF3F4,
  mine-shaft:       #222,
  petite-orchid:    #DF9698,
  riptide:          #78EDA3,
  spray:            #7DE7F1,
  vanilla-ice:      #F0CFD1
);
