@charset 'utf-8';

* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  font-family: 'FF Kievit';
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

figure {
  margin: 0;
}

