@charset 'utf-8';

@include test-module('Sass :: palette function') {
  @include test('Should return the appropiate HEX value from $palette mallard property') {
    $actual: palette(mallard);
    $expected: #243A1E;

    @include assert-equal($actual, $expected);
  };

  @include test('Should return the appropiate HEX value from $palette killarney property') {
    $actual: palette(killarney);
    $expected: #2F562B;

    @include assert-equal($actual, $expected);
  };
}
