extends ./layout/master

block body
  body.post
    section.article
      header
        h1.article__title #[span.article__subtitle About]
      main.article__copy
        span.article__subtitle #[a(href='http://localhost:9000/about.html').active EN] #[a(href='http://localhost:9000/es/about.html') ES]
        p Last year I was learning EcmaScript 6, it wasn’t difficult to find material on Internet. Outside there are tons of blogs. Books. Websites. Posts. Articles. Essays talking about this last standard version. Of course, it’s not supported on browsers, at least, not one-hundred-percent, yet. But, who cares? We are on a digital revolution. Moving fast, breaking things, learning everyday a new complete framework. And when I was learning I found a not-little problem, no one cares about design. I mean, no one cares writing a beautiful blog post. #[strong It’s just code!] I know, how can I even write a post about learning some technical stuff? Is there any place to put some design in code? Hard questions. That’s why this website came out.
        p That’s my main goal. Write and teach ES6. It’s gonna be a place to share knowledge and yes! I would care about design. I would care for those who are reading on their smartphones, for people who just want a best reading experience.
        p Are you tired of seing another website trying to explain ES6? Maybe, but no one is asking to be original. Besides, I’m gonna show you how to learn ES6 with a TDD strategy. Yes, Test–Driven Development. #[strong Why?] Why not? It’s gonna be biblical.
        p Like Seth Godin said one time:
        blockquote
          p John Koenig calls it vemödalen. The fear that you’re doing something that’s already been done before, that everything that can be done has been done.
        p Sure, it’s been done before. But not by me. And not for us.
        p(style='margin-top: 45px;') I’m #[strong: a(href='https://twitter.com/imyairodriguez', target='_blank') Yair], a Full Stack Developer. Like it? I’m looking for a job.
      footer
        small.credit These post are being released here as drafts, free to read. But also are being edited, produced and published into a book. Come back soon.
