extends ./layout/master

block body
  body.hero
    main.hero__about
      section.hero__copy
        span.article__subtitle #[a(href='http://localhost:9000/index.html').active EN] #[a(href='http://localhost:9000/es/index.html') ES]
        p Are you a designer, developer, software engineer, or general code–addictive person?
        p Do you like JavaScript? Do you have worked with shitty JS code that only God knows what really means? Would you like to write last JavaScript version (a.k.a. ES6)? You have heard about TDD? No? Test–Driven Development? Would you like to learn the beautiful world using TDD? Well, I’m here to help.
        p Also, you care about design? I mean, a good readable experience, good typography, colors? Well, me too. I built this website with that goal in mind. More on that #[strong: a(href='http://localhost:9000/about.html') here].
        p Be careful.
    section.hero__index
      .project
        .attributes
          h2.hero__title
          .row
            h4.project__subtitle
            p.project__content
          .row
            h4.project__subtitle
            p.project__content
          .row
            h4.project__subtitle
            p.project__content
          a(href='#').hero__link
      .line
      .line.left
      .line.middle
      .line.right
