extends ./layout/master

block body
  body.hero
    section.hero__index
      .project
        .attributes
          h2.hero__title
          .row
            h4.project__subtitle
            p.project__content
          .row
            h4.project__subtitle
            p.project__content
          .row
            h4.project__subtitle
            p.project__content
          a(href='#').hero__link
      .line
      .line.left
      .line.middle
      .line.right
